* {
  margin: 0px;
  padding: 0px;
}

.main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f0f2f5;

  .logo {
    text-align: center;
    padding-top: 30px;
  }

  .login-box {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    h5 {
      text-align: center;
      margin-bottom: 25px;
      font-size: 20px;
    }

    .content {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
      padding: 15px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background-color: white;
      height: 300px;
      width: 400px;

      input {
        border: none;
        border: 1px solid rgb(223, 223, 223);
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        font-size: 20px;
      }

      button {
        border: none;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #1877f2;
        font-size: 20px;
      }

      .links {
        text-align: center;
        margin-top: 10px;
      }
    }

    a {
      color: rgb(64, 128, 240);
      text-decoration: none;
      margin-bottom: 20px;
    }
  }

  .languages {
    background-color: white;
    padding-top: 30px;
    text-align: center;

    a {
      margin-right: 5px;
      text-decoration: none;
      color: gray;
    }

    button {
      padding: 0px 10px;
      margin-left: 10px;
    }
  }
}
